<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--날씨 API 가져오기-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PotpyTown"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DogInfoActivity"/>
        <activity android:name=".DogNameActivity"/>
        <activity android:name=".DogHealthActivity" />
        <activity android:name=".HomeActivity" />
    </application>
    <!-- 네이티브 앱 키 추가 -->
    <meta-data
        android:name="com.example.potpytown.API_KEY"
        android:value= "Hv4ritpSzvOnQ6mrmMIFlM9jHQ3gL6I1odcVISdOwifJx%2FGgUZrGQIFJpRj0lnl%2BLE6B%2BKeiRAqE537XcMl4QA%3D%3D" />
    <meta-data
        android:name="com.example.potpytown.URL_WEATHER"
        android:value="http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/" />

</manifest>